* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .flexProducts {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 1rem 1rem;
  }

  .gridProducts {
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-gap: 1rem;
  }

  .gridProducts_main--img img {
    width: 100%;
    height: auto;
  }

  .gridProducts_main--bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .total {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem ;
  }

  .totalBox {
    padding: 1rem;
    border: 1px black solid;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 50px;
  }


  .navbar {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar a {
    text-decoration: none;
    color: white;
  }

  .cartAmount {
    background-color: white;
    color:black;
    border-radius: 100%;
    align-self: center;
    
  }


  .flexItems {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;

  }

  .gridItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1fr;
  }

  .gridItems img {
    width: 100%;
    height: auto;

  }

  .totalCarro {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    
  }

  .totalCarro h2{
    padding-right: 1em;
  }

 

  .buttons {
    display: flex;
    flex-direction: row;
  }
  
  .itemsDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1em;
  }